<h1 class="display-4 mb-4">
	Add thing
</h1>

<form action="/add" method="POST">
	<div class="form-group">
		<input class="form-control form-control-lg" type="text" name="thing" placeholder="Add something">
	</div>
	<input type="submit" value="Add" class="btn btn-dark btn-lg">
	<a class="btn btn-danger btn-lg" href="/">Cancel</a>
</form>
